.job-form__container {
    height: 90vh;
    display: flex;
    align-items: center;
}

.job-form-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 2rem auto;
    position: relative;
    max-width: 90%;
    width: 100%;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }

    .job-form__heading {
        width: 100%;
        margin-bottom: 2rem;
        flex-direction: row;
        display: flex;
        justify-content:space-between;

        .job-form__header {
            font-size: 2rem;
            font-weight: bold;
            margin: auto 0;
        }

        .job-form__button {
            background-color: #007acc;
            color: #fff;
            padding: 1.2rem 4rem;
            border: none;
            border-radius: 4px;
            font-size: 1.6rem;
            cursor: pointer;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            &:hover {
                background-color: #005fa3;
            }
        }
    }

    .job-form-card__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .job-form {

            width: 100%;

            .job-form__label {
                font-size: 1.6rem;
                margin-bottom: 0.5rem;
                display: block;
            }

            .job-form__input,
            .job-form__select {
                width: 100%;
                padding: 1rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 1rem;
                font-size: 1.6rem;
            }

            .job-form__below-label {
                margin-bottom: 1rem;
                padding: 1rem;
                border: 1px solid red;
                border-radius: 4px;
                color: red;
                font-size: 14px;
              }
              
        }
    }
}