/* app */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* app header */
.app__header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: #fff;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .app__header {
    padding: 1rem 2rem;
  }
}
.app__header .app__branding {
  display: flex;
  align-items: center;
}
.app__header .branding__logo {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}
.app__header .branding__logo svg {
  font-size: 2.4rem;
}
@media screen and (min-width: 768px) {
  .app__header .branding__logo svg {
    font-size: 3rem;
  }
}
.app__header .branding__text {
  font-size: 1.8rem;
  margin-left: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .app__header .branding__text {
    font-size: 2.4rem;
  }
}

/* app mobile navbar */
.header__mobile-navbar {
  position: absolute;
  right: 0;
  z-index: 100;
  background-color: #fff;
}
.header__mobile-navbar .mobile-navbar__menu-toggle {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  color: #333;
  font-size: 1.8rem;
  cursor: pointer;
}
.header__mobile-navbar .mobile-navbar__menu-toggle svg {
  font-size: 2rem;
}
.header__mobile-navbar .mobile-navbar__dropdown {
  position: absolute;
  margin-top: 0;
  top: 3rem;
  right: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.1s ease-out;
  z-index: 10;
}
.header__mobile-navbar .mobile-navbar__dropdown.open {
  transform: scaleY(1);
}
.header__mobile-navbar .mobile-navbar__dropdown .mobile-navbar__item {
  text-align: center;
  padding: 1.5rem;
  border-bottom: 1px solid #eee;
  list-style: none;
}
.header__mobile-navbar .mobile-navbar__dropdown .mobile-navbar__item:last-child {
  border-bottom: none;
}
.header__mobile-navbar .mobile-navbar__dropdown .mobile-navbar__item .mobile-navbar__button {
  display: inline-block;
  color: #333;
  font-size: 1.8rem;
  margin: auto;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__mobile-navbar .mobile-navbar__dropdown .mobile-navbar__item .mobile-navbar__link {
  display: inline-block;
  color: #333;
  font-size: 1.8rem;
  text-decoration: none;
}

/* app desktop navbar */
.header__navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
.header__navbar .navbar__menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__navbar .navbar__item {
  margin-left: 2rem;
}
.header__navbar .navbar__button {
  color: #333;
  font-size: 1.8rem;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__navbar .navbar__button:hover {
  color: #007acc;
}
.header__navbar .navbar__link {
  color: #333;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__navbar .navbar__link:hover {
  color: #007acc;
}

/* app search */
.app__search {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
}
.app__search .search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .app__search .search-form {
    flex-direction: row;
    max-width: 80vw;
    width: 100%;
  }
}
.app__search .search-form .search-form__input {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .app__search .search-form .search-form__input {
    width: calc(33.33% - 2rem);
    margin: 0 1rem;
  }
}
.app__search .search-form .search-form__input:focus {
  border-color: #007acc;
  outline: none;
}
.app__search .search-form .search-form__input::-moz-placeholder {
  color: #aaa;
}
.app__search .search-form .search-form__input:-ms-input-placeholder {
  color: #aaa;
}
.app__search .search-form .search-form__input::placeholder {
  color: #aaa;
}
.app__search .search-form .search-form__button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #007acc;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .app__search .search-form .search-form__button {
    width: auto;
    padding: 1rem 2rem;
    margin: 0;
  }
}
.app__search .search-form .search-form__button:hover {
  background-color: #005fa3;
}

/* app main */
.app__main {
  flex-grow: 1;
}

/* app footer */
.app__footer {
  margin: 0 auto;
  width: 100vw;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
}
.app__footer .footer__text {
  font-size: 1.2rem;
}/*# sourceMappingURL=styles.css.map */