/* app */
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* app header */

.app__header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 768px) {
        padding: 1rem 2rem;
    }

    .app__branding {
        display: flex;
        align-items: center;
    }

    .branding__logo {
        display: flex;
        align-items: center;
        color: #333;
        text-decoration: none;

        svg {
            font-size: 2.4rem;

            @media screen and (min-width: 768px) {
                font-size: 3rem;
            }
        }
    }

    .branding__text {
        font-size: 1.8rem;
        margin-left: 1rem;
        font-weight: 700;

        @media screen and (min-width: 768px) {
            font-size: 2.4rem;
        }
    }
}


/* app mobile navbar */
.header__mobile-navbar {
    position: absolute;
    right: 0;
    z-index: 100;
    background-color: #fff;

    .mobile-navbar__menu-toggle {
        display: flex;
        margin-right: 1rem;
        align-items: center;
        justify-content: space-between;
        background: none;
        border: none;
        color: #333;
        font-size: 1.8rem;
        cursor: pointer;

        svg {
            font-size: 2rem;
        }
    }

    .mobile-navbar__dropdown {
        position: absolute;
        margin-top: 0;
        top: 3rem;
        right: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.1s ease-out;
        z-index: 10;

        &.open {
            transform: scaleY(1);
        }

        .mobile-navbar__item {
            text-align: center;
            padding: 1.5rem;
            border-bottom: 1px solid #eee;
            list-style: none;

            &:last-child {
                border-bottom: none;
            }

            .mobile-navbar__button {
                display: inline-block;
                color: #333;
                font-size: 1.8rem;
                margin: auto;
                text-decoration: none;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .mobile-navbar__link {
                display: inline-block;
                color: #333;
                font-size: 1.8rem;
                text-decoration: none;
            }
        }
    }
}

/* app desktop navbar */
.header__navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;

    .navbar__menu {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navbar__item {
        margin-left: 2rem;
    }

    .navbar__button {
        color: #333;
        font-size: 1.8rem;
        text-decoration: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
      
        &:hover {
          color: #007acc;
        }
      }      

    .navbar__link {
        color: #333;
        font-size: 1.8rem;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            color: #007acc;
        }
    }
}

/* app search */

.app__search {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;

    .search-form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        @media screen and (min-width: 768px) {
            flex-direction: row;
            max-width: 80vw;
            width: 100%;
        }
    
        .search-form__input {
            width: 100%;
            margin: 1rem;
            padding: 1rem;
            font-size: 1.6rem;
            border: 2px solid #ddd;
            border-radius: 0.5rem;
            transition: all 0.3s ease;
    
            @media screen and (min-width: 768px) {
                width: calc(33.33% - 2rem);
                margin: 0 1rem;
            }
    
            &:focus {
                border-color: #007acc;
                outline: none;
            }
    
            &::placeholder {
                color: #aaa;
            }
        }
    
        .search-form__button {
            margin-top: 1rem;
            padding: 1rem;
            font-size: 1.6rem;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            background-color: #007acc;
            color: #fff;
            cursor: pointer;
            transition: all 0.3s ease;
    
            @media screen and (min-width: 768px) {
                width: auto;
                padding: 1rem 2rem;
                margin: 0;
            }
    
            &:hover {
                background-color: #005fa3;
            }
        }
    }
}

/* app main */
.app__main {
    flex-grow: 1;
}

/* app footer */
.app__footer {
    margin: 0 auto;
    width: 100vw;
    background-color: #f5f5f5;
    color: #000;
    text-align: center;

    .footer__text {
        font-size: 1.2rem;
    }
}