.job-details-page {
  display: flex;
  padding: 2rem;
  justify-content: center;
}

.job-details__action-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.job-details__edit-button {
  display: inline-block;
  background-color: #0052cc;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
}
.job-details__edit-button:hover {
  background-color: #00449e;
}

.job-details__delete-button {
  display: inline-block;
  background-color: #0052cc;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
.job-details__delete-button:hover {
  background-color: #00449e;
}

.job-details__card-container {
  width: 90%;
  max-width: 1200px;
}
.job-details__card-container .job-details-card {
  max-width: 1200px;
  background-color: #f9f9f9;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.job-details__card-container .job-details-card .job-details-card__header {
  background-color: #eee;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.job-details__card-container .job-details-card .job-details-actions {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.job-details__card-container .job-details-card .job-details-actions__buttons {
  display: flex;
  gap: 1rem;
}
.job-details__card-container .job-details-card .job-details-actions__buttons > button {
  background-color: #0052cc;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
.job-details__card-container .job-details-card .job-details-actions__buttons > button:hover {
  background-color: #00449e;
}
.job-details__card-container .job-details-card .job-details-actions > .job-details-actions__applicants {
  margin: auto 0;
  font-weight: bold;
}
.job-details__card-container .job-details-card .job-details-card__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.job-details__card-container .job-details-card .job-details-card__info > * {
  margin: 1rem auto;
}
.job-details__card-container .job-details-card .job-details-card__info > p {
  margin-bottom: 0.5rem;
}
.job-details__card-container .job-details-card .job-details-card__info > .job-details-card__applicants {
  margin-top: 0;
  font-weight: bold;
}
.job-details__card-container .job-details-card .job-details-card__description {
  margin: auto;
  padding: 1rem;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #333;
}

.job-details-actions__apply {
  display: inline-block;
  background-color: #0052cc;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
.job-details-actions__apply:hover {
  background-color: #00449e;
}

.job-details-actions__error {
  color: #f87171;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .job-details-card-container {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .job-details-card-container {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .job-details-card-container {
    width: 60%;
  }
}/*# sourceMappingURL=jobPostDetails.styles.css.map */